/* public/css/profil.css */

/* Modifier la couleur des boutons */
.btn-primary {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-primary:hover {
    background-color: #16A085;
    border-color: #16A085;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
}

/* Modifier la couleur des titres et textes secondaires */
.text-secondary {
    color: #777;
}

/* Modifier la couleur des barres de progression */
.progress-bar.bg-success {
    background-color: #1ABC9C !important;
}
