/* public/css/profil.css */

/* Modifier la couleur des boutons */
.btn-primary {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-primary:hover {
    background-color: #16A085;
    border-color: #16A085;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
}

/* Modifier la couleur des titres et textes secondaires */
.text-secondary {
    color: #777;
}

/* Modifier la couleur des barres de progression */
.progress-bar.bg-success {
    background-color: #1ABC9C !important;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/fond.jpg");
}

.custom-navbar .dropdown-item:hover {
    background-color: #b8e6b9; /* Vert gris */
    color: #000000; /* Noir */
}

.custom-navbar {
    background-color: #00141a; /* Vert foncé */
    color: #fafafa; /* Couleur claire */
}

.custom-navbar .dropdown-menu {
    background-color: #d4edda; /* Vert clair */
    color: #000000; /* Noir */
    margin-top: 18px;
    margin-right: -37px;
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #f6f2f2; /* Couleur claire */
    font-weight: 600;
}

.custom-navbar .nav-link:hover {
    color: #ffffff; /* Blanc */
}

.tab-content {
    margin-top: 20px;
}

/* Styles spécifiques pour la section "Activité Récente" */
.recent-activity {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.recent-activity h6 {
    font-size: 18px;
    margin-bottom: 15px;
}

.recent-activity .nav-tabs {
    border-bottom: 0;
}

.recent-activity .nav-tabs .nav-item {
    margin-bottom: -1px;
}

.recent-activity .nav-tabs .nav-link.active {
    background-color: #1ABC9C;
    color: #ffffff;
    border-color: #1ABC9C #1ABC9C #ffffff;
}

.recent-activity .tab-content {
    padding-top: 15px;
}
